{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h2>{{ "Intitulé de la matière"| trans }} {{ matiere.nom }}</h2><br>
            <br>
            <ul>
                <div>
                    <br>
                    Coefficient : {{ matiere.coef }}
                </div>
                <a href="{{path("remove", {id: matiere.id})}}"><button class="btn btn-danger">{{ "Supprimer cette matière"| trans }}</button></a>
            </ul>
            <br>
            <br>
            <h3>{{ "Modifier la matière"| trans }}</h3><br>
            {{ form_start(formUpdate) }}
            {{ form_end(formUpdate) }}
        </div>

    </div>
    {% endblock %}
